.PostPollQuest{
    width: 100%;
}

.PostPollQuest_questions{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.PostPollQuest_questions_item{
    position: relative;
    height: 40px;
    background-color: var(--poll-item);
    border-radius: 8px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.votes_undo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.poll_voteCount{
    font-size: 14px;
    line-height: 20px;
    color: var(--dark-grey);
}

.votes_undo span{
    width: 4px;
    height: 4px;
    background-color: var(--dark-grey);
    border-radius: 50%;
}

.poll_undo{
font-size: 14px;
line-height: 20px;
font-weight: 600;
color: var(--secondary);
cursor: pointer;
}
