.single_post_comp {
  position: relative;

  padding: 16px 24px 24px 24px;
  width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  border-radius: 8px;
  background: var(--Card-background);
}

.post_title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 27px */

  word-break: break-all;
}

.IconBlock {
  display: flex;
  height: 30px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  background: unset;
  cursor: pointer;

  transition: all .3s ease;
}

.IconBlock span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconBlock:hover {
  background: var(--Primary-600);
  transition: all .3s ease;
}

.author_pannel_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconBlock_icon {
  cursor: pointer;
  height: fit-content;
}

.iconBlock_number {
  color: var(--Secondary-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 18px */
  user-select: none;
}

.post_bottom_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_commens_share_icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.see_more_title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: var(--secondary);
}


.author {
  display: flex;
  align-items: center;
  gap: 31px;
}

.author_credentials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author_credentials p {
  color: var(--white);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.author_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}



.elapsed_time {
  color: var(--Secondary-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 15px */
}

.single_post_image_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 265px;
  min-height: 265px;
  cursor: pointer;

  border: 1px solid #1A453C;
  border-radius: 24px;
}

.single_post_cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 552px;
  height: 265px;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%) blur(24px);
  border-radius: 24px;
  transform: scale(1.2);
}

.single_post_img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 425px;
  object-fit: contain;
  object-position: center;
  border-radius: 24px;

  width: 552px;
  max-width: 100%;
  height: 265px;
}


.video_container {
  margin: 0 auto;
  width: 100%;
}

.video_container video {
  border-radius: 12px;
  width: 100%;
  height: 263px;
  max-height: 263px;
  margin: 0 auto;
  object-fit: cover;
  border: 1px solid var(--Secondary-400);
}



.pannel_dots {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.panel_single_dot {
  width: 6px;
  height: 6px;
  transform: rotate(42.024deg);
  border-radius: 0.775px;
  background: var(--Secondary-400);
}

.quiz_answer_input_container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 12px;
}

.post_quiz_answer_text {
  display: flex;
  width: 120px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  background: var(--Primary-600);

  position: absolute;
  right: 4px;
}

.post_quiz_answer_text p {
  width: 35px;
  color: var(--Secondary-400);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  cursor: pointer;
}

.post_media_conatiner {

  width: 100%;
}

.answering_single_post_component {
  z-index: 2;
  position: relative;
  top: -100px;
}

.SettingForComment {
  display: flex;
  padding: 16px 20px 12px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 6px;
  background: var(--Primary-600);

  position: absolute;
  z-index: 1;
  right: 0;
  top: -5px;

  color: var(--Secondary-400);

  font-weight: 600;
  font-size: 12;
}

.SettingForComment_X {
  position: absolute;
  right: 8px;
  top: 8px;
}

.dot_normal_pos {
  transition: all .2s ease;
  justify-content: unset;
  margin-right: 0px;
  height: fit-content;
  cursor: pointer;
}

.SettingForComment_edit {
  font-size: 12px;
}

.SettingForComment_delete {
  font-size: 12px;
  font-weight: 600;
}

.replay_for_replie {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}


.comment_panel_and_dots {
  display: flex;

  cursor: pointer;
}

.dots_for_comments_settings {
  display: flex;
  gap: 7px;
  position: relative;
  cursor: pointer;
  width: 23px;
}


.single_comment {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
}



.single_comment_inner {
  border-radius: 8px;
  border-bottom: 1px solid var(--Secondary-400);

  display: flex;
  width: 100%;
  padding: 4px 4px 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.single_comment_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.single_comment_userName {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
}

.single_comment_date_replay {
  display: flex;
  align-items: center;
  gap: 16px;
}

.replay_container {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s ease;
  overflow: hidden;
}

.replay_container.visible {
  max-height: 220px;
  transition: all 0.5s ease;
}


.single_comment_replay {
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
  /* 18px */
}

.view_all_replies {
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
  display: flex;
  max-width: 465px;
  margin: 5px 0 0 auto;
}

.single_Replay {
  padding-top: 4px;
  display: flex;
  width: 465px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.replay_btn {
  display: flex;
  width: 68px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background: rgba(33, 15, 96, 0.50);

  border-radius: 6px;

  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 18px */
  cursor: pointer;
}

.replay_btn.active {
  background: var(--Primary-600, #210F60);
}

.mentioned_user {
  color: var(--Secondary-400) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 18px */
  overflow-wrap: break-word;
}

.text_after_mentioned_user {
  direction: ltr;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: 100%;
  height: 100%;
}

.replay_textarea {
  display: flex;
  width: 100%;
  height: 36px;
  line-height: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.10);
  resize: none;
  outline: none;
  border: none;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  box-sizing: border-box;

  white-space: pre-wrap;
  word-break: break-word;

  color: var(--white);
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500;
}



.replay_textarea::-webkit-scrollbar {
  width: 5px;
}

.comments_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.replayed_comment_inner_parent {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.replayed_comments_section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 24px;
  width: 100%;
}

.replayed_comment {
  display: flex;
  align-items: center;
  gap: 16px;

  position: relative;
}

.replayed_comment_parent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.replayed_comment_user_name {
  font-size: 12px;
}

.space {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 23px;
}

.replayed_comment_text {
  display: block;
  /* Change from flex to block for proper wrapping */
  width: 426px;
  padding: 12px 8px;
  border-radius: 8px;
  border-bottom: 1px solid #1A453C;
  border-top: 1px solid #1A453C;
  white-space: pre-wrap;
  /* Preserve white spaces and allow text wrapping */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  word-break: break-word;
  /* Allow breaking words if they are too long */
}

.replay_dots {
  width: 22px;
}


/* polls */

.PostPollQuest {
  width: 100%;
}

.PostPollQuest_questions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.PostPollQuest_questions_item {
  position: relative;
  height: 40px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.votes_undo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.poll_voteCount {
  font-size: 14px;
  line-height: 20px;
  color: var(--dark-grey);
}

.poll_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.poll_item {
  position: relative;
  display: flex;
  width: 552px;
  min-height: 40px;
  padding: 4px 4px 4px 4px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  border-radius: 8px;
  border: 0.775px solid var(--Secondary-400);
  cursor: pointer;
}

.poll_item_text {
  position: relative;
  z-index: 2;
  font-size: 12px;
  text-align: center;
}

.poll_item_bg {
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  height: calc(100% - 8px);
  padding: 3.1px 6.2px;

  border-radius: 6px;
  background: var(--Secondary-400, #309782);

  text-align: right;
  direction: ltr;
  padding-right: 20px;

  position: absolute;
  right: 5px;
}

.poll_item_name {
  width: 100%;
  font-size: 14px;
  padding-right: 80px;
  padding-left: 5px;
  text-align: left;
}

.votes_count_txt {
  position: absolute;
  right: 25px;
}

.pltc {
  text-align: center;
  color: var(--Secondary-400);
  cursor: pointer;
}

.write_comment {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.vmc {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 18px */
  cursor: pointer;
}

.write_comment_input {
  display: flex;
  width: 395px;
  height: 36px;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.10);
  color: var(--white);
  overflow: hidden;
  resize: none;
}

.write_comment_input::-webkit-scrollbar {
  width: 6px;
}

.write_comment_input::placeholder {
  color: var(--Type-inactive);
}

.comment_btn {
  display: flex;
  width: 93px;
  height: 32px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: rgba(33, 15, 96, 0.50);
  color: var(--Secondary-600);
  font-size: 12px;
  cursor: not-allowed;
}

.comment_btn.active {
  border-radius: 6px;
  background: var(--Primary-600, #210F60);
  color: var(--white);
  cursor: pointer;
}

.comments_array {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}

@media (max-width:768px) {
  .single_post_comp {
    width: 90%;
  }

  .single_post_cover {
    width: 100%;
  }

  .single_post_img {
    width: 100%;
  }

  .poll_item {
    width: 100%;
  }

  .replayed_comment_text {
    width: 100%;
  }

  .write_comment_input {
    width: 100%;
  }

  .single_Replay {
    width: 100%;
  }

  .replayed_comment_parent {
    width: 100%;
  }
}

@media (max-width:500px) {
  .replayed_comment_inner_parent {
    min-width: 300px;
  }

  .view_all_replies {
    max-width: 300px;
  }
}

@media (max-width:375px) {
  .replayed_comment_inner_parent {
    min-width: 250px;
  }

  .view_all_replies {
    max-width: 250px;
  }
}

.rrg {
  display: flex;
  align-items: center;
  gap: 16px;
}

.csmp {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end !important;
}