.single_post_comp {
  position: relative;
  width: 637px;
  max-width: 637px;
  display: flex;
  padding: 14px 17px;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #d5dae3;

  background-color: var(--post-bg-light);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.single_post_comp.dark {
  background-color: var(--post-bg-dark);
}

.autor_title_image_ {
  display: flex;
  flex-direction: column;
  gap: 12px;

  border-bottom: 1px solid #e5e8ee;
  padding-bottom: 10px;
}

.post_title {
  color: currentColor;
  align-self: flex-start;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  word-break: break-all;
}

.author_pannel_container {
  width: 603px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
}

.author_credentials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.author_credentials p {
  color: #131518;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
}

.author_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author_header_dot {
  display: flex;
  height: 18px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.span_dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: currentColor;
}

.elapsed_time {
  color: var(--dark-grey);
  /* H1/regular */
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.elapsed_time.dark {
  color: var(--ligth-grey-sec);
}

.single_post_image_container {
  position: relative;
  overflow: hidden;
  width: 602px;
  height: 425px;
  border-top-left-radius: 12px;
}

.single_post_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(20%) blur(1px);
  border-radius: 10px;
}
.single_post_img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-height: 425px;
  object-fit: contain;
  object-position: center;
}

.likeDislikeComment_container {
  width: 624px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like_comment_share {
  display: flex;
  align-items: center;
  gap: 16px;
}

.like_container {
  display: flex;
  align-items: center;
}

.icon_container_likeComp {
  display: flex;
  width: 34px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.single_post_comments {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.like_dislike {
  display: flex;
  align-items: center;
  gap: 5px;
}

.up_vote,
.down_vote {
  transition: all 0.3s ease;
  cursor: pointer;
}

.up_vote:hover {
  fill: green;
}

.down_vote:hover {
  fill: red;
}

.activeHeartIocn{
  fill: #ea5651 !important;
}

.see_more_post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.video_container {
  margin: 0 auto;
  width: 100%;
}

.video_container video {
  border-radius: 12px;
  width: 100%;

  height: 425px;
}

.delete_btn {
  padding: 5px 10px;
  background-color: var(--reddit);
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
}

.post_setting_pannel {
  border-radius: 8px;
  border-top-right-radius: 1px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;

  width: 198px;

  background-color: var(--post-bg-light);

  position: absolute;
  right: 16px;
  top: 54px;
  padding: 8px;
  z-index: 110;

  color: black;

  border: 1px solid #d5dae3;
}

.post_delete {
  font-size: 14px;
  line-height: 20px;
  color: #ea5651;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.edit_delete {
  font-size: 14px;
  line-height: 20px;
  color: currentColor;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.pannel_dots {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;

  height: 32px;
  width: 32px;
  background-color: red;
}

.panel_single_dot{
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 50%;
}

.quiz_answer_input_container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 603px;
  margin-top: 14px;
}

.post_quiz_answer_text {
  padding: 10px 0px 10px 16px;
  text-align: center;
}

.post_quiz_answer_text p {
  width: 35px;
  color: var(--black);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

@media (max-width: 430px) {
  .single_post_comp {
    width: 375px;
  }

  .single_post_image_container {
    width: 343px;
    height: 425px;
    overflow: hidden;
  }

  .author_pannel_container {
    width: 343px;
  }

  .likeDislikeComment_container {
    display: flex;
    width: 365px;
    padding-left: 0;
    margin: 0 auto;
    margin-left: -2.5px;
    justify-content: space-between;
    align-items: center;
  }

  .icon_container_likeComp {
    padding: 0;
    align-items: flex-start;
  }

  .quiz_answer_input_container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 357px;
  }
  .video_container {
    margin: 0 auto;
    width: 343px;
  }
  .pannel_dots{
    width: 17px;
  }
}

@media (max-width:375px) {
  .single_post_comp {
    border-radius: 0;
  }
}