.page_layout{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 124px;
}

.page_layout_inner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}