.create_page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_post{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.upload_image{
    position: relative;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey);
    color: currentColor;
}

.upload_image input{
    cursor: pointer;
}

.upload_image p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-weight: 900;
    color: currentColor;
}

.input_style_createPage{
    width: 100%;
    background-color: inherit;
    border: 1px solid var(--grey);
    padding: 10px 15px;
    color: currentColor;
}

.post_body{
    width: 100%;
    height: 350px;
    resize: none;
    padding: 10px 15px;
    border: 1px solid var(--grey);
    outline: none;
    background-color: inherit;
    color: currentColor;
}

.send_post_btn{
    width: 100%;
    height: 40px;
    color: currentColor;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--grey);

    cursor: pointer;
}

@media (max-width:769px) {
    .add_post{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .text-editor{
        height: calc(100% - 120px);
        border: none !important;
    }
}


/* responsive post add */
.responsive_add_post.active{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100svb;
    z-index: 111;
    transition: bottom 0.3s ease;
}

.responsive_add_post{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -100%;
    height: 100svb;
    z-index: 111;
    transition: bottom 0.3s ease;
}

.res_post_add_inner{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: var(--light-bg);
    color: currentColor;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.res_post_add_inner.dark{
    background-color: var(--dark-bg);
}

.close_add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.res_add_btn{
    padding: 7px 10px;
    background-color: var(--reddit);
    width: fit-content;
    border-radius: 20px;
}

.media_upload{
    width: 100%;
    height: 60px;
}

@media (max-width:601px) {
    .input_style_createPage{
        height: 50px;
        font-size: 20px;
        border: none;
    }

    .post_body{
        border: none;
        height: 100%;
    }
}