
.answers_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QuizAnswers{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
}

.QuizSingleAnswer{
    padding: 10px 15px;
    border: 2px solid #cfd3d6;
    border-radius: 10px;
    font-size: 14px;

    transition: background-color 0.3s ease ;

    display: flex;
    align-items: center;
    justify-content: center;
}

.QuizSingleAnswer:hover{
    background-color: #cfd3d6; 
}

.QuizSingleAnswer.dark:hover{
    background-color: var(--dark-bg); 
}

.QuizSingleAnswer p {text-align: center;}

@media (max-width:1000px) {
    .QuizAnswers{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 10px; 
    }
}