.ButtonFIlled{
    display: flex;
width: 140px;
height: 44px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: var(--Primary-600);
}

.ButtonFIlled.faded{
    background: rgba(33, 15, 96, 0.50);
    color: var(--Secondary-600) !important;
}

.ButtonFIlled p{
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}


.ButtonOutlined{
    display: flex;
width: 140px;
height: 44px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 6px;
border: 2px solid #5EFFDE;
}

.ButtonOutlined.faded{
border: 2px solid rgba(94, 255, 222, 0.50);
color: rgba(255, 255, 255, 0.40);
}

.ButtonOutlined p{
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}

.ButtonArrow{
    display: flex;
width: 140px;
height: 44px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: var(--Secondary-400);
}


@media (max-width:320px) {
    .ButtonFIlled,
    .ButtonOutlined{
        width: 130px;
    }
}