.edit_post_container.active{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 111;
    left: 0;
    bottom: 0;
    transition: bottom 0.3s ease;
}

.edit_post_container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 111;
    left: 0;
    bottom: -100vh;
    transition: bottom 0.3s ease;

}

.edit_post{
    padding: 0 100px;
    background-color: var(--light-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.edit_post.dark{
    background-color: var(--dark-bg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


@media (max-width:769px) {
    .edit_post
        {
        padding:50px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width:601px) {
    .input_style_createPage{
        height: 50px;
        font-size: 20px;
        border: none;
    }

    .post_body{
        border: none;
        height: 100%;
        font-size: 18px;
    }
}