

.quizz_list {
    display: flex;
    flex-direction: column;
}

.no-cursor {
    cursor: not-allowed !important;
}





/* /////// */
.single_quiz {
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

@media (min-width:1500px) {
    .single_quiz {
        padding-top: 0px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

}



.quiz_popUp {
    display: flex;
    min-height: 600px;
    width: 1030px;
    padding: 12px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--stroke);
    background: var(--Card-background);
}

.quiz_cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

}

.quiz_cover.display_none {
    display: none;
}

.quiz_creator_title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.quiz_creator_title_TITLE {
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
}


.quiz_creator_title_BUTTON p {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
}

.quiz_game_component {
    display: none;
}

.quiz_game_component.active {
    display: block;
}

.quiz_game_component_top {
    width: 100% !important;
    display: flex;
    height: 24px;
    justify-content: space-between;
}

.quiz_game_component {
    width: 100%;
}

.quiz_game_component_top_p {
    color: var(--Secondary-400);
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    /* 33px */
}

.quiz_game_component_middle {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.quiz_inner_name{
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 36px */
}

.single_quiz_question_image {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 679.41px;
    height: 333px;
    justify-content: center;
    align-items: center;

    border-radius: 1.6px;
    border: 0.458px solid var(--stroke);
    cursor: pointer;
}

@media (max-width:1400px) {
    .quiz_game_component_middle{
        height: 300px;
    }
    .quiz_popUp {
        min-height: 526px;
    }
}

.single_quiz_question_image_cover {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: brightness(50%) blur(24px);
    transform: scale(1.2);
}

.single_quiz_question_image_contain {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quiz_game_component_answers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.quiz_single_answer {
    position: relative;
    cursor: pointer;

    border: 1px solid var(--Secondary-400);
    background-color: inherit;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 64px;
    padding: 8px 16px;
    gap: 8px;

    font-size: 14px;
    transition: all 0.3s ease;
    
}

.quiz_single_answer:hover {
    background-color: var(--Primary-600) !important;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.quiz_p_parent{
    height: 48px;
    overflow: hidden;
    display: flex;
}

.quiz_single_answer_paragraph {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: auto;
}

.quizAnswersDots {
    position: relative;
    z-index: 4;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.hover_text {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
    text-align: left;
    width: 240px;
    padding: 8px 16px;
    gap: 8px;

    border-radius: 12px;
    background: var(--Primary-600);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    right: 0;
    transition: all 0.3s ease;
}

/* .quizAnswersDots:hover ~ .hover_text {
    visibility: visible;
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease;
} */

.hover_text.active{
    visibility: visible;
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease;
}


.quiz_game_component_bottom {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 18px;
}

.quiz_single_answer.correct {
    border: 2px solid #5EFFDE;
}

.quiz_single_answer.incorrect {
    border: 2px solid #ff0000;
}

.quiz_final {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 25px 124px;
}

.quiz_final.active {
    display: flex;
}

.quiz_final_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz_final_scores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.quiz_final_stat_txts{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.Points_earned {
    display: flex;
    align-items: center;
}

.Points_earned {
    color: var(--white);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 39px */
}

.Points_earned span {
    color: #FDC201;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 48px */

    margin-left: 16px;
    margin-right: 4px;
}

.Correct_Answers {
    color: var(--white);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 39px */

    display: flex;
    align-items: center;
    gap: 16px;
}

.Correct_Answers span {
    color: var(--Secondary-400);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 48px */
}

.quiz_final_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.congrats {
    display: flex;
    align-items: center;
    gap: 15px;
}

.congrats_block1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.congrats {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}