.navbar {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 58px;

  background-color: var(--light-bg);
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.bottom_border{
  position: absolute;
  left: 50%;
  bottom: 0;
  
  width: calc(100% - 30px);
  height: 1px;
  background-color: var(--grey);

  transform: translateX(-50%);
}

.navbar.dark {
  background-color: var(--dark-bg);
}

.logo_burger_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.burger_menu {
  display: none;
  cursor: pointer;
}

.nav_search {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav_search_icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav_search_input {
  width: 100%;
  height: 40px;
  border-radius: 30px;

  background-color: #eaedf0;
  box-sizing: border-box;
  padding-left: 32px;
  transition: all 0.3s ease;
}

.nav_search_input.dark {
  background-color: var(--active-page-dark);
  transition: all 0.3s ease;
}

.nav_login_btn {
  width: 66px;
  height: 40px;

  color: #fff;
  font-weight: 700;
  background-color: var(--reddit);
  border-radius: 30px;
  cursor: pointer;
}

.nav_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_profile_items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_user_avatar {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  cursor: pointer;
}

.nav_profile_item_parent {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .nav_profile_item_parent:hover {
    background-color: var(--hover-light);
    transition: all 0.2s ease;
  }

  .nav_profile_item_parent.dark:hover {
    background-color: var(--active-page-dark);
  }
}

.nav_create_post {
  padding: 8px 10px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

@media (hover: hover) {
  .nav_create_post:hover {
    transition: all 0.2s ease;
    background-color: var(--hover-light);
  }

  .nav_create_post.dark:hover {
    transition: all 0.2s ease;
    background-color: var(--active-page-dark);
  }
}

.responsive_search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *************** */
/* user dash */
.user_dash {
  width: 250px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);

  border-radius: 10px;
  background-color: var(--light-bg);

  position: absolute;
  z-index: 11;
  right: 15px;
  top: 59px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user_dash.dark {
  background-color: var(--active-page-dark);
}

.user_dash_item {
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (hover: hover) {
  .user_dash_item:hover {
    background-color: var(--hover-light);
  }

  .user_dash_item.dark:hover {
    background-color: var(--active-page-dark);
  }
}

.toggler_parent {
  position: absolute;
  right: 20px;
}

.toggler {
  position: relative;
  width: 58px;
  height: 30px;

  background-color: #eaedf0;
  border-radius: 30px;

  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.toggler.active {
  background-color: #0045ac;
}

.toggler_thub {
  position: absolute;
  top: 0;
  left: 1px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.4s ease;
}

.toggler_thub.active {
  left: calc(98% - 30px);
  transition: all 0.4s ease;
}

@media (max-width: 1200px) {
  .nav_search {
    width: 100%;
    max-width: 95%;

    position: relative;
    left: unset;
    top: unset;
    transform: unset;
  }

  .burger_menu {
    display: flex;
  }
}

@media (max-width: 600px) {
  .nav_search {
    display: none;
  }

  .nav_create_post p {
    display: none;
  }

  .user_dash {
    top: auto;
    bottom: inherit;
    right: inherit;
    width: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
  }

  .user_dash.dark {
    top: auto;
    bottom: inherit;
    right: inherit;
    width: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
  }

  .user_dash_res {
    position: fixed;
    z-index: 6;
    right: 0;
    width: 100%;
    left: 0 !;
    display: flex !important;
    bottom: -135px;
    transition: all 0.4s ease;
  }

  .user_dash_res.active {
    left: 0 !important;
    right: 0;
    width: 100%;
    display: flex;
    bottom: -1px;
    transition: all 0.4s ease;
  }
}
