.navbar {
  position: fixed;
  z-index: 110;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1440px;
  
  height: 76px;
  padding: 0 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  
}

.logo_burger_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.burger_menu {
  display: none;
  cursor: pointer;
}

.nav_search {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav_search_icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav_search_input {
  display: flex;
width: 600px;
height: 40px;
padding: 0px 4px 0px 16px;
justify-content: space-between;
align-items: center;

border-radius: 8px;
border: 1px solid var(--Secondary-400);
}

.nav_login_btn {
  display: flex;
  height: 48px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--purple);
}

.nav_login_btn p {
  color: var(--white);

  /* H3/medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.nav_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_profile_items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_user_avatar {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  cursor: pointer;
}

.nav_profile_item_parent {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav_create_post {
  padding: 8px 10px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}


.responsive_search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *************** */
/* user dash */
.user_dash {
  width: 250px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);

  border-radius: 10px;
  background-color: var(--light-bg);

  position: fixed;
  z-index: 111;
  right: 15px;
  top: 59px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user_dash.dark {
  background-color: var(--active-page-dark);
}

.user_dash_item {
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.toggler_parent {
  position: absolute;
  right: 20px;
}

.toggler {
  position: relative;
  width: 58px;
  height: 30px;

  background-color: #eaedf0;
  border-radius: 30px;

  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.toggler.active {
  background-color: #0045ac;
}

.toggler_thub {
  position: absolute;
  top: 0;
  left: 1px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.4s ease;
}

.toggler_thub.active {
  left: calc(98% - 30px);
  transition: all 0.4s ease;
}


@media (max-width:430px) {
  .navbar{
    height: 50px;
  }
  .nav_search{
    display: none;
  }
  
  .nav_login_btn{
    height: 30px;
    padding: 0 12px;
  }
}