.CreatePostFeed {
  display: flex;
  width: 637px;
  padding: 16px 0px 14px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  border: 1px solid #d5dae3;
  background: #fff;
}

.user_avatar_input {
  display: flex;
  width: 602px;
  align-items: center;
  gap: 12px;

  padding-bottom: 14px;
  border-bottom: 1px solid #e5e8ee;
}

.user_avatar_feed {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 32px;
}

.popUp_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feed_input {
  width: 558px;
  height: 44px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccd0d6;

  color: var(--dark-grey);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.choose_post_style {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  display: flex;
  width: 602px;
  align-items: center;
}

.postStyle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  padding: 0px 14px;
}

.postStyle_container p {
  color: currentColor;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.postStyle_container span {
  display: flex;
  align-items: center;
}

.feed_cr_border_container {
  width: 100%;
  padding: 0 17px;
}

/* 
========
add post
======== 
*/

.AddPostPopUp_parent{
  position: relative;
  z-index: 111;
  width: 528px;
  max-height: 600px;

  position: fixed;
  z-index: 111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AddPostPopUp {
  width: 528px;
  max-height: 600px;
  border-radius: 8px;
  background-color: var(--white);
  overflow-y: auto;
  overflow-x: hidden;
}

.create_title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 150px;
  padding: 16px 24px;
  border-bottom: 1px solid #e1e6ee;
}

.create_title p {
  color: currentColor;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
}

.post_body {
  padding: 24px 24px 16px 24px;

  display: flex;
  gap: 16px;
  flex-direction: column;
  border-bottom: 1px solid #e5e8ee;
}

.popup_author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.popup_author p {
  color: currentColor;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.popup_textarea {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 120px;
  color: currentColor;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  resize: none;
  outline: none;
  border: none;
  background-color: inherit;
  padding-top: 2px;
}

.popup_textarea::placeholder {
  color: var(--dark-grey);
}

.postTextarea_and_smile_parent {
  display: flex;
  align-items: center;
  position: relative;
  height: fit-content;
  padding-right: 32px;
}

.post_txtarea_smile span {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  align-self: flex-end;
  cursor: pointer;
}

.smile_icon_postadd {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  position: absolute;
  right: 0;
}

.add_post_popup_btn {
  padding: 16px 24px;
  width: 100%;
  margin: 0 auto;
}

.uploaded_image_addPost_container {
  position: relative;
  border-radius: 10px;
  max-height: 338px;
  width: 100%;
  overflow: hidden;
  margin-top: 24px;
}

.uploaded_image_addPost_container span {
  position: absolute;
  z-index: 3;
  right: 14px;
  top: 14px;
}

.uploaded_image_addPost {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-position: center;
  object-fit: contain;
  border-radius: 10px !important;
}

.uploaded_image_addPost_container video {
  border-radius: 10px;
}

/* quiz */
.quiz_quest_title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px;
}

.your_question {
  color: var(--black);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.quiz_answ_block {
  padding: 0px 24px 24px 24px;
  border-bottom: 1px solid var(--light-grey);
  /* კითხვას აქვს პადინგი ქვემოთ და ამას ვუკეთებ ზემოთ 0 */
}

.answer_desc {
  color: var(--dark-grey);
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.question_textarea {
  font-family: "Inter";
  width: 100%;
  height: 72px;
  border-radius: 8px;
  resize: none;
  padding: 12px 36px 12px 12px;
  outline: none;
  border: none;

  font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.Correct_answer {
  color: var(--black);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.quiz_answer_inputs {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quiz_btn_block {
  padding: 16px 24px;
}

.quiz_txtArea_container {
  width: 100%;
  position: relative;

  border-radius: 8px;
border: 1px solid var(--light-grey);
}

.quizImgAddIcon {
  position: absolute;
  right: 16px;
  bottom: 12px;
  cursor: pointer;
}

.uploaded_image_quiz_container {
  position: relative;

  width: 448px;
  height: fit-content;
  max-height: 316.279px;

  margin: 0 auto;
  margin-top: 0px;
  border-radius: 8px;
}

.uploaded_image_quiz_container img {
  border-radius: 8px;
  width: 448px;
  height: 316.279px;
  object-fit: cover;
}

.uploaded_image_quiz_container video {
  width: 100%;
  border-radius: 8px;
  width: 448px;
}

.video_popupPorst_add video{
  max-height: 338px;
  border-radius: 8px;
}

/* poll */
.add_option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 18px;
  cursor: pointer;
}
.add_option p {
  color: var(--secondary);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.remove_option{
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.poll_single_input{
  display: flex;
  align-items: center;
  gap: 12px;
}

.options_container {
  margin-top: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}

.btn_post_style_padding_left {
  padding-left: 58px;
}

.quiz_media_close_icon {
  position: absolute;
  right: 14px;
  top: 14px;
  z-index: 2;
}

.move_db_dropdown{
  width: 480px;
  max-height: 184px;
  border-radius: 8px;
  padding: 4px 0;
  border: 1px solid var(--light-grey);

  position: absolute;
  left: 25px;
  z-index: 111;
  top: 356px;
  background-color: var(--white);

  overflow-y: auto;
}

.answering{
  left: 18px;
  top: 170px;
  width: 538px;
}

.dropdown_item{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  cursor: pointer;
}

.movie_dropdown_image{
  width: 24px;
height: 28px;
}

@media (max-width: 430px) {
  .CreatePostFeed {
    width: 375px;
    margin: 0 auto;
  }

  .user_avatar_input {
    width: 343px;
    max-width: inherit;
  }
  .feed_input {
    width: 299px;
    max-width: inherit;
  }
  .choose_post_style {
    width: 341px;
    max-width: inherit;
    gap: 0;
    justify-content: space-between;
  }
  .btn_post_style_padding_left {
    padding-left: 0px;
  }
}

@media (max-width: 375px) {
  .CreatePostFeed {
    border-radius: 0;
  }
}
