.login_Container {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;

  background-color: var(--light-bg);
}

.login_modal {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light-bg);
}

.login_modal_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.log_modal_title_mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.title_close_icon {
  display: flex;
  width: 391px;
  justify-content: flex-end;
  align-items: center;
  gap: 96px;
}

.login_title {
  color: var(--black);
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.login_modal_modes {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mode_btn {
  display: flex;
  width: 187px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--black);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  border-bottom: 1px solid #ccd4de;
  cursor: pointer;
}

.mode_btn.active {
  border-bottom: 1px solid var(--black);
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.pasword_input_container {
  width: fit-content;
  height: fit-content;
  position: relative;
}


.eye_icon{
  position: absolute;
  right: 16px;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}