.left_nav{
    position: fixed;
    left: 0;
    top: 0;
    
    width: 270px;
    height: 100vh;

    border-right: 1px solid var(--grey);

    padding-top: 72px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.left_nav_item{
    width: 220px;
    height: 40px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    cursor: pointer;

    transition: all .4s ease;
}

.left_nav_item.active{
    background-color: var(--hover-light);
}

.left_nav_item.active.dark{
    background-color: var(--active-page-dark);
}

@media (hover: hover) {
    .left_nav_item:hover{
        background-color: var(--hover-light);
    }

    .left_nav_item.dark:hover{
        background-color: var(--active-page-dark)
    }
}

.left_nav_section{
    border-bottom: 1px solid var(--grey);
    padding-bottom: 14px;
}