.RatingsFeed {
    position: fixed;
    width: 300px;
    margin-left: calc(1440px - 460px);
    /* right: 80px; */

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.UserRatingItem {
    width: 100%;
    background: linear-gradient(180deg, hsla(167, 45%, 19%, 1) 0%, hsla(168, 52%, 39%, 1) 100%);
    padding: 1px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.UserRatingItem_inner {
    display: flex;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

    background-color: var(--Card-background);
}

.user_ratings_block{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rating_circle{
    display: flex;
    width: 37px;
    height: 24px;
justify-content: center;
align-items: center;
}

.rating_circle p{
    color: #FDC201;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 18px */
}

.userName_userPos{
    display: flex;
    align-items: center;
    gap: 8px;
}

.user_rating{
    display: flex;
    align-items: center;
    gap: 4px;
}

.user_avatar_ratings{
    width: 24px;
height: 24px;
border-radius: 24px;
}

.user_rating p{
    color: var(--white);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 18px */
}

.ratings_points{
    display: flex;
    align-items: center;
    gap: 4px;
}

.ratings_points p{
color: var(--Secondary-400);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 21px */
}

.view_more_ratings{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

.view_more_dot_rating{
    width: 3.1px;
height: 3.487px;
transform: rotate(42.024deg);
border-radius: 0.775px;
background: var(--Secondary-400);
margin-top: 7px;

}

.view_more_dot_rating p{
    color: var(--white);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 15px */
}