*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-bg: #fff;
  --dark-bg: #0B1416;
  --post-bg-light: #FDFAF7;
  --post-bg-dark: #171109;
  --active-page-kight: #F2F4F5;
  --active-page-dark: #1A282D;
  --grey: #CCCCCC;
}

input{
  border: none;
  outline: none;
}

button{
  border: none;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 15px;
}


