@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

@font-face {
  font-family: "Rockwell";
  src: url("./assets/fonts/ROCK.TTF");
  font-display: fallback;
}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;  
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: var(--BG-color); 
}

::-webkit-scrollbar-thumb {
  background: var(--Secondary-400); 
  border-radius: 6px;
}

:root {
  background: var(--BG-color);
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --toastify-color-success:#6558F2;
  --toastify-color-error:#EA5651;
  --toastify-toast-min-height:'20px';
  --dark-mode-txt:#F0F2F5;
  --white:#fff;
  --black:#131518;
  --light-mode: #F6F7F9;
  --dark-mode: #131518;
  --light-grey:#CCD4DE;
  --ligth-grey-sec: #ABAFB8;
  --dark-grey:#4C5158;
  --btn-blue:#13AFE0;
  --purple: #6558F2;
  --secondary: #695DED;
  --heart: #F91880;
  --orange-sec:#EA5651;
  --post-bg-dark:#1C1F24;
  --post-bg-light:#FFFFFF;
  --poll-item: #DADCE2;


  --BG-color: #070316;
  --Secondary-200: #00D18F;
  --Secondary-400: #309782;
  --Secondary-600: #4A7B71;
  --stroke: #1A453C;
  --Primary-600: #210F60;
  --Card-background: #0E052D;
  --Type-inactive:#808080;
  --Linear-stroke:linear-gradient(90deg, hsla(167, 45%, 19%, 1) 0%, hsla(168, 52%, 39%, 1) 100%);
}

.overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
}

.backdropFilter{
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

a{
  color: inherit;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

button{
  border: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: unset;
  overscroll-behavior: none;
}

.app{
  width: 100%;
  color: var(--white);
  
  font-family: "Roboto";
}


.button{
  cursor: pointer;
}

.icon{
  cursor: pointer;
}

.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111;
  width: 100%;
  height: 100vh;
  background-color: #0b141677;
}

textarea{
  font-family: inherit;
}

.eclipse-bg-top{
  width: 400px;
  height: 400px;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 400px;
  background: var(--Secondary-400);
  filter: blur(250px);
}

.eclipse-bg-right{
  width: 400px;
  height: 400px;

  position: fixed;
  top: 444px;
  right: -200px;

  border-radius: 400px;
  background: var(--Primary-600);
  filter: blur(250px);
}

.eclipse-bg-left{
  width: 400px;
  height: 400px;

  position: fixed;
  top: 444px;
  left: -200px;

  border-radius: 400px;
  background: var(--Primary-600);
  filter: blur(250px);
}

.eclipse-bg-bottom{
  width: 400px;
  height: 400px;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 400px;
  background: var(--Secondary-400);
  filter: blur(250px);
}

input::placeholder{
  color: var(--white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.fullScreenImage{
  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;

  background-color: #000;
}

.displayNone{
  display: none;
}

@media (max-width:600px) {
  .responsive_hidden{
    display: none;
  }
}
