.go_back{
    width: 40px;
    height: 40px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: var(--hover-light);
}

.go_back.dark{
    background-color: var(--active-page-dark);
}

.goBack_authorInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.single_page_title{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
}