

.swiper {
    width: 100%;
    height: fit-content;
    display: flex;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: fit-content;
    height: fit-content;
    width: 160px !important;
}

.swiper-slide-active{
    opacity: 1 !important;
    width: 160px;
height: 230px;
/* transform: translate3d(0px, 0px, 0px) !important;  */
transition-duration: 1s !important;

}

.swiper-slide-next{
    opacity: 0.5 !important;
    width: 120px;
height: 172px;
transform: translate3d(-40px, 0px, -350px) !important; 
transition-duration: 1s !important;
}

.swiper-slide-prev{
    opacity: 0.5 !important;
    width: 120px ;
height: 172px ;
transform: translate3d(40px, 0px, -350px)!important ;
}

.swiper-slide{
    opacity: 0;
}






.slider_card_active.inactive{
    opacity: 0.5;
    transform: translate3d(0px, 0px, -200px);
}